body {
    background-color: rgb(109, 143, 143);
}

.header {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    font-size: 50px;
}

.container {
    margin-left: 575px;
}

.active-cyan-4 .fa {
    color: #44b9fddc;
}

.sun {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-left: -210px;
    margin-bottom: -60px;
    font-size: 120px;
}