body {
    background-color: rgb(109, 143, 143);
    /* display: flex;
    justify-content: center; */
}

.header {
    display: flex;
    justify-content: center;
    margin-top: 300px;
    font-size: 50px;
}

.container {
    margin-left: 575px;
}

.active-cyan-4 .fa {
    color: #44b9fddc;
}